@charset "UTF-8";
@import url(base.css);
a {
  cursor: pointer;
}

.content {
  width: 1190px;
  margin: 0px auto;
}

.header1 {
  height: 30px;
  background: #f5f4f4;
  line-height: 30px;
  font-size: 12px;
}
.header1 .header1left {
  float: left;
}
.header1 .header1left span {
  color: #7f7f7a;
}
.header1 .header1left span em {
  color: black;
  margin-left: 5px;
}
.header1 .header1left > a:first-of-type {
  color: #e3393c;
  margin-left: 10px;
}
.header1 .header1left .registerbox {
  display: inline-block;
  margin-left: 20px;
}
.header1 .header1left .registerbox a {
  color: #7f7f7a;
  margin-right: 15px;
  position: relative;
}
.header1 .header1left .registerbox a:first-of-type::after {
  content: '';
  height: 12px;
  width: 1px;
  position: absolute;
  background: black;
  top: 2px;
  right: -9px;
}
.header1 .header1right {
  float: right;
}
.header1 .header1right > ul > :not(:nth-of-type(2)):hover {
  background: #fff;
}
.header1 .header1right > ul > li {
  float: left;
  position: relative;
}
.header1 .header1right > ul > li:nth-of-type(1) > a, .header1 .header1right > ul > li:nth-of-type(5) > a {
  margin-right: 14px;
  position: relative;
}
.header1 .header1right > ul > li:nth-of-type(1) > a::after, .header1 .header1right > ul > li:nth-of-type(5) > a::after {
  content: '';
  position: absolute;
  top: 7px;
  right: -13px;
  transition: transform 0.5s;
  border: 4px solid #cecece;
  border-color: #cecece transparent transparent;
}
.header1 .header1right > ul > li:nth-of-type(1):hover a::after {
  transform-origin: center center;
  transform: rotate(180deg) translate(25%, 50%);
}
.header1 .header1right > ul > li:nth-of-type(1):hover ol {
  display: block;
  z-index: 999;
}
.header1 .header1right > ul > li:nth-of-type(5):hover a::after {
  transform-origin: center center;
  transform: rotate(180deg) translate(25%, 50%);
}
.header1 .header1right > ul > li:nth-of-type(1) ol {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  background: #fff;
  display: none;
  position: absolute;
  top: 30px;
  left: 0px;
  width: 88px;
}
.header1 .header1right > ul > li a {
  margin: 0 8px 0 8px;
  color: #7f7f7a;
}
.header1 .header1right > ul > li a em {
  margin: 0 5px 0 5px;
}
.header1 .header1right > ul > li:nth-of-type(3):hover .wxd {
  display: block;
}
.header1 .header1right > ul > li:nth-of-type(4):hover .app {
  display: block;
}
.header1 .header1right > ul > li .wxd {
  padding: 10px;
  background: url(../img/sy/wx.jpg) no-repeat center center;
  width: 90px;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  position: absolute;
  top: 30px;
  display: none;
  z-index: 999;
}
.header1 .header1right > ul > li .app {
  padding: 10px;
  position: absolute;
  top: 30px;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
  z-index: 999;
}
.header1 .header1right > ul > li .app div {
  width: 90px;
  height: 90px;
  display: block;
  background: url(../img/sy/mob.jpg) no-repeat;
}
.header1 .header1right > ul > li .app h3 {
  line-height: 18px;
  padding-top: 10px;
}
.header1 .header1right > ul > li .app p {
  color: red;
  line-height: 18px;
}

.header2 {
  height: 120px;
  padding-top: 30px;
  box-sizing: border-box;
}
.header2 .content {
  position: relative;
}
.header2 .logo {
  width: 194px;
  height: 58px;
  float: left;
}
.header2 .logo a {
  width: 100%;
  height: 100%;
  background: url(../img/sy/logo.png) no-repeat center center;
  display: block;
}
.header2 .gif {
  float: left;
  margin-left: 10px;
  width: 118px;
  height: 60px;
  background: url(../img/sy/gif.gif) no-repeat;
}
.header2 .search {
  float: left;
  margin-left: 20px;
}
.header2 .search .searchbox {
  width: 590px;
  height: 34px;
  border: 2px solid red;
}
.header2 .search .searchbox select {
  width: 56px;
  height: 34px;
  outline: none;
  border: none;
  float: left;
}
.header2 .search .searchbox input[type="text"] {
  width: 467px;
  height: 34px;
  float: left;
}
.header2 .search .searchbox input[type="button"] {
  width: 67px;
  height: 34px;
  float: right;
  background: #dd0207;
  color: #fff;
}
.header2 .search .searchbottom a {
  margin-right: 10px;
  font-size: 12px;
  color: #666;
}
.header2 .search .searchbottom a:hover {
  color: #e3393c;
}
.header2 .header2right {
  float: right;
  position: absolute;
  top: -15px;
  right: 0px;
  width: 160px;
  height: 80px;
  background: url(../img/sy/201802011650389711990.jpg) no-repeat;
}

.header3 .header3left {
  float: left;
  width: 200px;
  height: 35px;
  background: #dd0207;
  position: relative;
}
.header3 .header3left > a {
  width: 100%;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 50px;
  background: url(../img/sy/HIMALL_admin11_04_03.png) no-repeat 14px center;
}
.header3 .header3left .goodsclassification {
  width: 200px;
  height: 490px;
  background-color: #3d4851;
  position: absolute;
  top: 35px;
  z-index: 999;
  color: white;
}
.header3 .header3left .goodsclassification li {
  padding-left: 16px;
  box-sizing: border-box;
}
.header3 .header3left .goodsclassification li p {
  margin: 10px 0px 10px;
}
.header3 .header3left .goodsclassification li:nth-of-type(2) h3 i {
  background-image: url(../img/sy/201609280918494822090.png);
}
.header3 .header3left .goodsclassification li:nth-of-type(3) h3 i {
  background-image: url(../img/sy/201609280919080930420.png);
}
.header3 .header3left .goodsclassification li:nth-of-type(4) h3 i {
  background-image: url(../img/sy/201609280919312902820.png);
}
.header3 .header3left .goodsclassification li:nth-of-type(5) h3 i {
  background-image: url(../img/sy/201609280919479355120.png);
}
.header3 .header3left .goodsclassification li:nth-of-type(5) h3 i {
  background-image: url(../img/sy/201609280920068115450.png);
}
.header3 .header3left .goodsclassification h3 {
  padding: 10px 0px 8px;
}
.header3 .header3left .goodsclassification h3 i {
  display: inline-block;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  background: url(../img/sy/201609280918332737800.png) no-repeat, center center;
}
.header3 .header3left .goodsclassification p a {
  color: white;
  font-size: 13px;
  padding: 3px 4px;
}
.header3 .header3left .goodsclassification p a.active {
  color: #000;
  background: #fff;
  border-radius: 2px;
}
.header3 .header3right {
  float: left;
}
.header3 .header3right li {
  float: left;
}
.header3 .header3right li a {
  line-height: 35px;
  font-size: 15px;
  margin: 0 30px 0px 30px;
  padding-bottom: 6px;
  cursor: pointer;
}
.header3 .header3right li a.active {
  border-bottom: 2px solid red;
  color: red;
}
.header3 .header3right li a:hover {
  color: red;
}

.banner {
  position: relative;
}
.banner .bannerbox {
  position: relative;
  height: 492px;
  width: 100%;
}
.banner .bannerbox li {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.banner .bannerbox li a {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner .pointbanner {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  z-index: 999;
}
.banner .pointbanner span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #fff;
}
.banner .pointbanner span.active {
  border: 3px solid #fff;
  background-color: transparent;
}

.goodslist {
  display: none;
  height: 490px;
  width: 780px;
  position: absolute;
  top: 1px;
  left: 200px;
  z-index: 999;
  color: #000;
  background: #fff;
  padding-left: 30px;
  padding-top: 15px;
  box-sizing: border-box;
}
.goodslist .goodslistleft {
  width: 540px;
  float: left;
}
.goodslist .goodslistleft dt {
  padding-bottom: 15px;
  border-bottom: 1px solid #000;
  font-weight: 700;
}
.goodslist .goodslistleft dd {
  margin-top: 15px;
  margin-bottom: 15px;
}
.goodslist .goodslistleft dd ul li {
  width: 90px;
  font-size: 13px;
  display: inline-block;
}
.goodslist .goodslistleft dd ul li a {
  color: #000;
}
.goodslist .goodslistleft dd ul li:nth-of-type(1), .goodslist .goodslistleft dd ul li:nth-of-type(7),
.goodslist .goodslistleft dd ul li:nth-of-type(13) {
  width: 80px;
}
.goodslist .goodslistleft dd ul li:nth-of-type(6n) {
  width: 60px;
}
.goodslist .goodslistright {
  width: 180px;
  position: absolute;
  top: 0px;
  right: 0;
  background: #f7f7f7;
}
.goodslist .goodslistright h5 {
  text-align: center;
  line-height: 38px;
}
.goodslist .goodslistright img {
  width: 180px;
}

.goodsclassification > li:hover {
  background: #323b42;
}
.goodsclassification > li:hover .goodslist {
  display: block;
}

.banner {
  position: relative;
}
.banner .small-banner {
  position: absolute;
  top: 2px;
  right: 50%;
  z-index: 999;
  margin-right: -593px;
  opacity: 0.9;
}
.banner .small-banner a {
  display: block;
  margin-bottom: 2px;
}
.banner .small-banner img {
  width: 200px;
  height: 243px;
  transition: transform 1s;
}
.banner .small-banner img:hover {
  transform: translateX(-8px);
}

/*                             主体部门                */
.main {
  margin-top: 10px;
  box-sizing: border-box;
  padding-top: 20px;
  /*                   主体部分的楼层                  */
}
.main .main1 {
  height: 530px;
}
.main .main1 .main1top {
  height: 36px;
  border-bottom: 1px solid #c9c9c9;
  box-sizing: border-box;
}
.main .main1 .main1top h3 {
  display: inline-block;
  width: 187px;
  height: 33px;
  color: #cc0000;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border-top: 2px solid red;
  background: #fff;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #ececec;
  border-left: 1px solid #ececec;
  z-index: 999;
}
.main .main1 .main1top a {
  float: right;
}
.main .main1 .main1top a:hover {
  color: red;
}
.main .main1 .main1bottom ul {
  width: 1206px;
}
.main .main1 .main1bottom li {
  width: 230px;
  height: 220px;
  margin: 10px 10px 0px 0px;
  float: left;
}
.main .main1 .main1bottom a img {
  width: 230px;
  height: 170px;
  transition: transform .5s;
}
.main .main1 .main1bottom a img:hover {
  transform: translateX(-5px);
}
.main .main1 .main1bottom h3 {
  font-size: 14px;
  width: 220px;
  line-height: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .main1 .main1bottom p {
  line-height: 25px;
  height: 25px;
  color: #f00f34;
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px 0 0 20px;
  font-weight: 700;
}
.main .floors .floor .floorhead {
  padding-bottom: 4px;
  border-bottom: 1px solid #c9c9c9;
}
.main .floors .floor .floorhead h3 {
  display: inline-block;
  line-height: 18px;
  width: 20%;
  height: 18px;
  padding-left: 12px;
  border-left: 4px solid red;
  font-weight: 700;
}
.main .floors .floor .floorhead > ul {
  float: right;
}
.main .floors .floor .floorhead > ul > li {
  float: left;
  margin-left: 50px;
  position: relative;
  line-height: 32px;
}
.main .floors .floor .floorhead > ul > li:last-of-type {
  margin-right: 20px;
}
.main .floors .floor .floorhead > ul > li:hover {
  color: #cc0000;
  cursor: pointer;
}
.main .floors .floor .floorhead > ul > li:hover i {
  display: block;
}
.main .floors .floor .floorhead > ul > li i {
  width: 10px;
  height: 6px;
  position: absolute;
  top: 33px;
  right: 42%;
  background-image: url(../img/sy/himall.png);
  background-repeat: no-repeat;
  display: none;
}
.main .floors .floor {
  margin-bottom: 30px;
}
.main .floors .floor .floorhead {
  height: 33px;
}
.main .floors .floor .floorbd {
  height: 680px;
  margin-top: 5px;
}
.main .floors .floor .floorbd .floorbdtop {
  height: 450px;
}
.main .floors .floor .floorbd .floorbdtop .aside {
  float: left;
  width: 230px;
  height: 100%;
  background-image: url(../img/sy/floor_ROne_20170726113025864767.jpg);
}
.main .floors .floor .floorbd .floorbdtop .aside > a {
  display: block;
  width: 230px;
  height: 30%;
}
.main .floors .floor .floorbd .floorbdtop .aside > ul {
  margin: 30px 0 0 15px;
}
.main .floors .floor .floorbd .floorbdtop .aside > ul > li {
  width: 83px;
  height: 24px;
  font-size: 12px;
}
.main .floors .floor .floorbd .floorbdtop .aside > ul > li:nth-of-type(2n) {
  margin-left: 30px;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner {
  width: 230px;
  height: 170px;
  margin-top: 18px;
  padding: 0px 21px;
  box-sizing: border-box;
  position: relative;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner .next, .main .floors .floor .floorbd .floorbdtop .aside .asidebanner .prev {
  width: 9px;
  height: 14px;
  background-image: url(../img/sy/Himall_web.png);
  background-repeat: no-repeat;
  background-position: -1377px 0px;
  position: absolute;
  right: 4px;
  top: 62px;
  cursor: pointer;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner .prev {
  background-position: -1351px -26px;
  position: absolute;
  left: 4px;
  top: 62px;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div {
  width: 188px;
  height: 142px;
  overflow: hidden;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div > ul {
  width: 600px;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div > ul > li {
  width: 188px;
  height: 142px;
  float: left;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div > ul > li a, .main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div > ul > li img {
  width: 100%;
  height: 100%;
}
.main .floors .floor .floorbd .floorbdtop .aside .asidebanner > div > ul > li > ul > li {
  float: left;
  width: 90px;
  height: 45px;
  margin: 5px 4px 0 0;
}
.main .floors .floor .floorbd .floorbdtopmain1 {
  float: left;
  margin-left: 10px;
  width: 950px;
  height: 450px;
}
.main .floors .floor .floorbd .floorbdtopmain1 li {
  float: left;
  width: 230px;
  height: 220px;
  margin-right: 5px;
  margin-bottom: 9px;
}
.main .floors .floor .floorbd .floorbdtopmain1 li a, .main .floors .floor .floorbd .floorbdtopmain1 li img {
  width: 100%;
  height: 100%;
}
.main .floors .floor .floorbd .floorbdtopmain1 .big {
  width: 470px;
  height: 450px;
  margin-right: 10px;
}
.main .floors .floor .floorbd .floorbdtopmain2 {
  float: left;
  margin-left: 10px;
  width: 950px;
  height: 450px;
  display: none;
}
.main .floors .floor .floorbd .floorbdtopmain2 li:nth-of-type(5n) {
  width: 175px;
  height: 226px;
  box-sizing: border-box;
}
.main .floors .floor .floorbd .floorbdtopmain2 li {
  float: left;
  width: 160px;
  height: 205px;
  padding: 10px 15px;
  border-right: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
.main .floors .floor .floorbd .floorbdtopmain2 li > a, .main .floors .floor .floorbd .floorbdtopmain2 li img {
  width: 160px;
  height: 160px;
}
.main .floors .floor .floorbd .floorbdtopmain2 li h3 {
  font-size: 14px;
  line-height: 24px;
  color: #f00f34;
  padding-top: 5px;
}
.main .floors .floor .floorbd .floorbdtopmain2 li p a {
  font-size: 12px;
  line-height: 20px;
  display: block;
  width: 160px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main .floors .floor .floorbd .floorbdtopmain2 li p a:hover {
  color: #f00f34;
}
.main .floors .floor .floorbd .floorbdbottom {
  padding-top: 10px;
  box-sizing: border-box;
}
.main .floors .floor .floorbd .floorbdbottom li:not(.big) {
  float: left;
  width: 230px;
  height: 220px;
  margin-right: 10px;
}
.main .floors .floor .floorbd .floorbdbottom .big {
  float: left;
  width: 470px;
  height: 220px;
  margin-right: 10px;
}
.main .floors .floor .floorbd .floorbdbottom li:last-of-type {
  margin-right: 0;
}

.pinpai {
  height: 413px;
}
.pinpai h3 {
  font-size: 18px;
  color: #3d4048;
  height: 18px;
  padding-bottom: 15px;
  line-height: 18px;
}
.pinpai .pinpaibd {
  height: 380px;
}
.pinpai .pinpaibd .pinpaibd1, .pinpai .pinpaibd .pinpaibd3 {
  float: left;
  width: 280px;
  height: 350px;
}
.pinpai .pinpaibd .pinpaibd2 {
  float: left;
  width: 630px;
  height: 350px;
  position: relative;
  padding: 20px 40px;
  box-sizing: border-box;
}
.pinpai .pinpaibd .pinpaibd2 div {
  overflow: hidden;
}
.pinpai .pinpaibd .pinpaibd2 .brandlist {
  width: 2000px;
}
.pinpai .pinpaibd .pinpaibd2 .brandlist > li {
  float: left;
  width: 550px;
  height: 306px;
}
.pinpai .pinpaibd .pinpaibd2 .brandlist > li li {
  float: left;
  width: 110px;
  height: 100px;
  padding-top: 26px;
  box-sizing: border-box;
}
.pinpai .pinpaibd .pinpaibd2 .brandlist > li li a, .pinpai .pinpaibd .pinpaibd2 .brandlist > li li img {
  width: 100%;
  height: 50px;
}
.pinpai .pinpaibd .pinpaibd2 .prev {
  left: 7px;
}
.pinpai .pinpaibd .pinpaibd2 .prev, .pinpai .pinpaibd .pinpaibd2 .next {
  width: 26px;
  height: 38px;
  position: absolute;
  background-image: url(../img/sy/Himall_admin.png);
  background-repeat: no-repeat;
  background-position: -4px 0;
  cursor: pointer;
  top: 152px;
}
.pinpai .pinpaibd .pinpaibd2 .next {
  background-position: -4px -40px;
  right: 7px;
}

.floor-nav {
  display: none;
  position: fixed;
  width: 37px;
  background: #fff;
  left: 50%;
  top: 50%;
  margin-left: -650px;
  line-height: 31px;
}
.floor-nav .active {
  background: red;
  color: white;
}
.floor-nav .active span {
  display: block;
}
.floor-nav .active em {
  display: none;
}
.floor-nav li {
  text-align: center;
  padding: 0 4px 0 4px;
  box-sizing: border-box;
}
.floor-nav li a {
  border-bottom: 1px dotted #c9c9c9;
  padding-bottom: 1px;
  display: block;
  box-sizing: border-box;
}
.floor-nav span {
  display: none;
  font-size: 12px;
}

/*=============================== 页脚   ===============*/
.footer .footer1 {
  height: 109px;
  border-bottom: 1px solid #d6d6d6;
  background: #f8f8f8;
}
.footer .footer1 dl {
  margin: 33px 35px 0px 0px;
  float: left;
}
.footer .footer1 dl:nth-of-type(2) dt {
  background-position: -57px -37px;
}
.footer .footer1 dl:nth-of-type(3) dt {
  background-position: -125px -37px;
}
.footer .footer1 dl:nth-of-type(4) dt {
  background-position: -181px -37px;
}
.footer .footer1 dl:nth-of-type(5) dt {
  background-position: -241px -37px;
}
.footer .footer1 dl:nth-of-type(6) dt {
  background-position: -301px -37px;
}
.footer .footer1 dl dt {
  width: 55px;
  height: 40px;
  background-image: url(../img/sy/icon.png);
  background-position: 0 -37px;
  background-repeat: no-repeat;
  float: left;
}
.footer .footer1 dl dd {
  float: left;
}
.footer .footer1 dl dd h3 {
  font-size: 16px;
  margin-bottom: 3px;
}
.footer .footer1 dl dd p {
  font-size: 13px;
}

.footer2 {
  padding-top: 35px;
  background: #f3f3f3;
}
.footer2 li {
  float: left;
}
.footer2 li .linkothers {
  width: 200px;
  margin-top: 5px;
}
.footer2 li .linkothers dt {
  margin-bottom: 5px;
}
.footer2 li dl {
  width: 141px;
}
.footer2 li .web {
  width: 110px;
  text-align: center;
}
.footer2 li .web dd {
  background: url(../img/sy/mob.jpg) no-repeat center center;
  padding-top: 90px;
  margin-top: -10px;
  line-height: 17px;
}
.footer2 li .weixin {
  width: 110px;
  text-align: center;
}
.footer2 li .weixin dd {
  background: url(../img/sy/wx.jpg) no-repeat center center;
  padding-top: 90px;
  margin-top: -10px;
  line-height: 17px;
}
.footer2 li dt {
  font-size: 15px;
  line-height: 36px;
  font-weight: 700;
}
.footer2 li dd {
  font-size: 12px;
  color: #666;
  line-height: 24px;
}
.footer2 li dd a:hover {
  color: red;
}

.footer3 {
  height: 39px;
  line-height: 39px;
  background: #313131;
  text-align: center;
}
.footer3 a {
  padding: 0 14px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  border-right: 1px solid #fff;
}
.footer3 a:last-of-type {
  border-right: 0;
}

.footer4 {
  height: 110px;
}
.footer4 p {
  padding: 10px 0 10px;
  color: #666;
  font-size: 11px;
  text-align: center;
}
.footer4 div {
  text-align: center;
  margin-bottom: 20px;
}
.footer4 div a {
  margin-left: 5px;
}

/*=====================右侧栏=================*/
#box > .aside {
  height: 100%;
  width: 40px;
  background-color: #2a2a2e;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 999;
}
#box > .aside > ul {
  position: absolute;
  top: 15%;
  width: 40px;
}
#box > .aside > ul li {
  position: relative;
}
#box > .aside > ul li:hover {
  background: #e3393c;
}
#box > .aside > ul #totop {
  color: #fff;
  font-size: 12px;
}
#box > .aside > ul span {
  width: 90px;
  height: 40px;
  line-height: 40px;
  background: #2a2a2e;
  position: absolute;
  right: 40px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  z-index: 999;
}
#box > .aside .care {
  color: #fff;
  padding: 0px 14px;
  margin-bottom: 5px;
}
#box > .aside .care em {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #cc0000;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 3px;
}
#box > .aside li:not(.care) {
  height: 40px;
  margin: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#box > .aside li:not(.care) s {
  background: url(../img/sy/Himall_web.png) no-repeat;
}
#box > .aside li:nth-of-type(1) s {
  background-position: -1403px -26px;
  width: 19px;
  height: 19px;
  display: block;
}
#box > .aside li:nth-of-type(2) s {
  display: block;
  width: 16px;
  height: 14px;
  background-position: -1429px -0px;
  top: 22px;
}
#box > .aside li:nth-of-type(3) s {
  display: block;
  width: 16px;
  height: 18px;
  background-position: -1429px -26px;
}
#box > .aside li:nth-of-type(4) s {
  display: block;
  width: 17px;
  height: 16px;
  background-position: -1455px 0;
}
#box > .aside li:nth-of-type(5) s {
  display: block;
  width: 19px;
  height: 19px;
  background-position: -1455px -26px;
}

.focus .xmSlide-pagination {
  background-color: #fff;
  padding-top: 10px;
  text-align: center;
  height: 20px;
}
.focus .xmSlide-pagination li {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
}
.focus .xmSlide-pagination li a {
  display: inline-block;
  width: 12px;
  height: 12px;
  text-indent: -9999px;
  background-color: #ccd1d9;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  overflow: hidden;
}
.focus .xmSlide-pagination li a.active {
  background-color: #656d78;
}
.focus .xmSlide-control {
  overflow: hidden;
}

/*# sourceMappingURL=host.css.map */
