@import url(base.css);
.content {
  width: 990px;
  margin: auto;
}

body {
  background: #eef3fa;
}

.header {
  height: 31px;
  background: #F7F7F7;
  border-bottom: 1px solid #eee;
}
.header .headerleft:hover i {
  transform: rotate(380deg);
}
.header i {
  position: absolute;
  transition: all 0.2s;
  top: 8px;
  width: 13px;
  height: 13px;
  background: url(../img/register/star.png) no-repeat center center;
}
.header a {
  padding-left: 20px;
  line-height: 31px;
  font-size: 12px;
  color: #666;
}
.header a:hover {
  text-decoration: underline;
  color: red;
}
.header .headerleft {
  float: left;
}
.header .headerright {
  float: right;
}
.header .headerright span {
  font-size: 12px;
}
.header .headerright a {
  padding: 0px;
  margin: 0 3px;
}

.main .logo {
  padding: 10px 0px;
  box-sizing: border-box;
  height: 80px;
  position: relative;
}
.main .logo img {
  height: 60px;
}
.main .logo b {
  font-size: 30px;
  background-color: #f1f1f1;
  margin-left: 20px;
  position: absolute;
  top: 18px;
  line-height: 46px;
  width: 150px;
}
.main .main1 {
  background: #f2f2f2;
  border-bottom: 1px solid #dddddd;
}
.main .main1 p {
  height: 33px;
  float: right;
  font-size: 12px;
  padding-top: 13px;
  box-sizing: border-box;
}
.main .main1 a {
  margin: 0px 3px;
}
.main .main1 a:hover {
  text-decoration: underline;
}
.main .main2 {
  padding: 30px 0 20px;
  box-sizing: border-box;
  height: 456px;
  background: #fff;
}
.main .main2 form {
  margin-top: 30px;
  width: 900px;
  text-align: center;
}
.main .main2 form > div {
  height: 69px;
}
.main .main2 form > div:nth-of-type(n+2) i {
  background-position: -346px -108px;
  width: 14px;
  height: 19px;
}
.main .main2 .label {
  width: 200px;
  line-height: 33px;
  text-align: right;
  font-size: 14px;
  display: inline-block;
  padding-right: 10px;
  color: #999;
  float: left;
}
.main .main2 .Tips {
  width: 270px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  background: #f7f7f7;
  color: #666;
  font-size: 12px;
  line-height: 12px;
  float: left;
  text-align: left;
  margin-left: 10px;
  padding: 5px 5px;
  display: none;
}
.main .main2 .checkeasy {
  float: left;
  margin-top: 10px;
  display: none;
}
.main .main2 .checkeasy span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: #bdc4ce;
}
.main .main2 .tex {
  display: inline-block;
  position: relative;
  float: left;
}
.main .main2 .tex input {
  width: 270px;
  border: 1px solid #cccccc;
  height: 38px;
  padding: 10px 25px 10px 5px;
  box-sizing: border-box;
  color: #999;
  font-size: 14px;
}
.main .main2 .tex input:focus {
  border-color: #7abd54;
}
.main .main2 .tex i {
  background: url(../img/register/login-all-bg.png);
  background-position: -373px -111px;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 12px;
  right: 8px;
}

.Agree {
  text-align: left;
}
.Agree label {
  margin-left: 200px;
  font-size: 12px;
}
.Agree label a {
  color: #e3393c;
  cursor: pointer;
}
.Agree label a:hover {
  text-decoration: underline;
}

.btn input {
  display: block;
  width: 270px;
  height: 36px;
  margin-left: 200px;
  cursor: pointer;
  background: url(../img/register/regist-btn.jpg) no-repeat center center;
}
.btn input:hover {
  background: url(../img/register/hover-btn.jpg) no-repeat center center;
}

.footer {
  width: 990px;
  margin: auto;
  height: 58px;
  text-align: center;
  padding: 10px 0px;
  box-sizing: border-box;
}
.footer p {
  font-size: 12px;
}

/*# sourceMappingURL=register.css.map */
