@charset "utf-8";
@import "base.css";
@import "host.css";
.content{
    margin: auto;
    width: 1190px;
}
#careHead{
    .header2{
        height: 60px;
        padding-top: 20px;
        box-sizing: border-box;
        .content{
            padding-left: 170px;
        }
        h1{
            width: 200px;
            height: 60px;
            background: url(../img/sy/logo.png) no-repeat center center;
        }
    }
    .careheader{
        width: 990px;
        margin: auto;
        h2{
            font-size: 22px;
            color: #666;
            line-height: 24px;
            height: 24px;
            font-weight: 700;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .qx{
            width: 100px;
            text-align: center;
        }
        .showcarehead{
            border-top: 1px solid #ddd;
            line-height: 35px;
            height: 35px;
            background: #eff2f5;
            font-size: 12px;
            color: #666;
            p{
                float: left;
            }
            .sp{
                width: 521px;
                text-align: center;
            }
            .scj{
                width: 129px;
                text-align: right;
            }
            .sl{
                width: 136px;
                text-align: center;
            }
            .cz{
                width: 99px;
                text-align: center;
            }
        }
        .showcarefooter{
            border-top: 1px solid #ddd;
            height: 49px;
            background: #eff2f5;
            font-size: 12px;
            padding-left: 20px;
            box-sizing: border-box;
            #allnum{
                margin:0px 5px;
            }
            .qx{
                line-height: 49px;
            }
            .rm{
                line-height: 49px;
            }
            &>p{
                float: left;
            }
            .js{
                float: right;
                p{
                    float: left;
                    font-size: 12px;
                    margin-top: 5px;
                }
                .checkoutbtn{
                    width: 120px;
                    line-height: 36px;
                    height: 36px;
                    text-align: center;
                    font-size: 16px;
                    color:#fff;
                    background: #ff4d50;
                    border-radius: 4px;
                    display: inline-block;
                    margin: 5px 5px 0 20px;
                }
            }
        }
        .empty{
            height: 98px;
            padding-left: 341px;
            background: #f3f3f3 url(../img/list/cart-empty-bg.png) no-repeat 250px 22px;
            display: block;
            padding-top: 20px;
            box-sizing: border-box;
            li{
                line-height: 26px;
                font-size: 14px;
                a{
                    color: red;
                    margin: 0 5px;
                }
            }
        }
        .showcarebody{
            li{
                height: 132px;
                p{
                    line-height: 54px;
                    height: 54px;
                    box-sizing: border-box;
                    padding-left: 20px;
                    font-size: 12px;
                }
                .carelist{
                    background: #FDFDF7;
                    box-sizing: border-box;
                    padding-top: 15px;
                    height: 78px;
                    a:hover{
                        color: #e3393c;
                    }
                    .caredetails{
                        padding-left:20px;
                        float: left;
                        img{
                            width: 50px;
                            height: 50px;
                            border: 1px solid #ddd;
                        }
                        a{
                            font-size: 12px;
                            vertical-align: top;
                            padding-left: 10px;
                        }
                    }
                    .caredetailsright{
                        float: right;
                        font-size: 14px;
                        .price{
                            width: 129px;
                            display: inline-block;
                            text-align: right;
                            color: #e3393c;
                        }
                        a{
                            width: 99px;
                            line-height: 52px;
                            height: 52px;
                            display: inline-block;
                            text-align: center;
                        }
                        .zj{
                            width: 136px;
                            text-align: center;
                            line-height: 52px;
                            display: inline-block;
                            input[type="button"]{
                                width: 15px;
                                height: 15px;
                                cursor: pointer;
                                background: #fff;
                                border: 1px solid #ccc;
                                &:hover{
                                    border-color: skyblue;
                                }
                            }
                            input[type="text"]{
                                width: 36px;
                                height: 22px;
                                line-height: 22px;
                                text-align: center;
                                border: 1px solid #ddd;
                            }
                        }
                    }
                }
            }
        }
    }
}